<!DOCTYPE html>
<html lang="en">
<head>
    <style>
         body {
      text-align: center;
      background: url("http://images.all-free-download.com/images/graphiclarge/blurred_golden_background_192849.jpg");
      background-size: cover;
      background-position: center;
      color: black;
      font-family: times new roman;
    }
    <meta charset="UTF-8">
    <title>Instagram Clone</title>
    </style>
</head>
<body>
	<div class="main">
            <h1> Instagram Clone</h1>
            <h3>Sign Up</h3>
    </div>
    <div style="text-align: center;">
        <form method="post">
          {% csrf_token %}
            <div>
                <label for="username">Username: </label>
                <input id="username" type="text" name="username" value={{ username }}>
            </div>
            <div>
                <label for="name">Name   :                    .              .         .</label>
                <input id="name" type="text" name="name" value={{ name }}>
            </div>
            <div>
                <label for="email">Email  :              .                .               .</label>
                <input id="email" type="text" name="email" value={{ email }}>
            </div>
            <div>
                <label for="password">Password : </label>
                <input id="password" type="password" name="password" value={{ password }}>
            </div><br>
                <input type="submit" value="Sign Up">
        </form>
    </div><br><br><br>
    <div><h3>Already a user?</h3><h1><b><a href="login/">Login</a> </b></h1></div>
</body>
</html>