<!DOCTYPE html>
<html lang="en">
<head>
    <style>
         body {
      text-align: center;
      background: url("http://images.all-free-download.com/images/graphiclarge/blurred_golden_background_192849.jpg");
      background-size: cover;
      background-position: center;
      color: black;
      font-family: times new roman;
    }
         </style>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form }}

    <input type="submit" class="btn btn-default" value="Add a picture">
</form>

</body>
</html>