<!DOCTYPE html>
<html lang="en">
<head>
    <style>
         body {
      text-align: center;
      background: url("http://images.all-free-download.com/images/graphiclarge/blurred_golden_background_192849.jpg");
      background-size: cover;
      background-position: center;
      color: white;
      font-family: helvetica;
    }
         </style>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<br><br><br><br><br><br><br><br><br><br><br><br>
    Successfully signed up! Please continue to login!
    <form action="/login/" method="get">
        <input type="submit" class="btn btn-default" value="Login">
    </form>
</body>
</html>